<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title><%=page_name%></title>
  <link rel = "stylesheet" type = "text/css" href = '/stylesheets/style.css' />
  <link rel = "stylesheet" type = "text/css" href = '/stylesheets/index.css' />
  <style>
  body{
    font-family:'小塚ゴシック Pro6N R','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック', Arial, sans-serif;
  }
  </style>
</head>

<body>
  <div id="header">
    <div class="container">
      <div class="header_left">

        <a href="#" class="app_title">ScheduleShare</a>
      </div>
      <div class="header_right">
        <ul>
          <li><%=user_name%> <span class="san">さん</span></li>
          <li>logout</li>
        </ul>
      </div>
    </div>
  </div>
  <div id="contents">
  <%- body %>
</div>
  <div id="footer">
    <div class="container">
      <div class="border">
      </div>
    </div>
  </div>
  </body>

  </html>
