<% layout('layout') %>

<form action="/test" method="post" enctype="multipart/form-data" class="board-form">
    <button type="submit" class="submit">投稿</button>
    <input type="file" name="image_file" class="file">
</form>
